body{
background-color: green;
}

p#paragrafo-id{
color :white;
}

ul #primero{

color : white;

}
p span{

color : blue;

}
.pepito{
background-color: aquamarine;
color : burlywood;
}
.perez{
    background-color: aquamarine;
    color : burlywood;
    border: 1px solid black;
    }

[data]{
width: 100%;
height: 200px;
margin: 1px solid b;

}

[data="data"]{
    width: 100%;
    height: 200px;
    margin: 1px solid b;
    
    }

    [data="prueba"]{
        width: 100%;
        height: 100px;
        margin: 1px solid b;
        background: brown;
        
        }

        [data="prueba2"]{
            width: 100%;
            height: 80px;
            margin: 1px solid b;
            background: yellow;
            }





